
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(hostel.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}




.top-nav{
    background-color: cadetblue ;
    padding: 10px 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    /*border:2px solid rgb(255, 255, 255);*/
}

.top-nav h3{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
}
.top-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}
.top-nav li{
    display: flex;
    align-items: center;

}
.top-nav a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}
.top-nav a:hover{
    background-color: dodgerblue;
    color: white;
}
.top-nav a:active{
    background-color:  aquamarine ;
    color: black;
}